body {
    background-image: url('images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    display: flex;
    justify-content: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.5);
    max-width: 280px;
}
  
nav ul li {
    display: inline-block;
    position: relative;
}
  
nav ul li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    font-family: "Comic Sans MS";
    color: #000;
}
  
nav ul li:hover > a {
    background-color: #f1f1f1;
}

#count {
    display: flex;
    justify-content: center;
    font-size: 48px;
    font-family: 'donutFont';
    margin-bottom: 100px;
}

#settings {
    max-width: 50px;
    position: fixed;
    top: 30px;
    right: 60px;
    cursor: pointer;
}

#settings:hover {
    filter: brightness(70%);
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    justify-content: center;
    align-items: center;
}
  
.popup {
    background-color: #fff;
    padding: 20px;
    width: 400px;
}

#reset-prompt {
    display: none;
}

.image-wrapper {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

#clicker-image {
    max-width: 300px;
}

#clicker-image:hover {
    transition: transform 0.1s ease;
    transform: scale(1.05);
}

@font-face {
    font-family: 'donutFont';
    src: url('donut-font.ttf') format('truetype');
}

.upgrade {
    display: flex;
    justify-content: space-around;
}

#upgrade-info {
    font-size: 20px;
    font-family: 'donutFont';
}

#upgrade-buttons {
    display: flex;
    flex-direction: column;
}

.button {
    position: relative;
    text-align: center;
    color: white;
    cursor: pointer;
}

.button:hover {
    filter: brightness(85%);
}

.button-image {
    display: block;
    height: auto;
    width: 200px;
}

.button-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 21px;
    margin: 0;
    padding: 0;
}


/*ABOUT.HTML*/
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container section {
    background-color: white;
    max-width: 520px;
    padding: 20px;
}