section a:link {
  color: red;
}

section a:visited {
  color: #67143c;
}

body h1 {
    text-align: center;
  }
section h2 {
    text-align: center;
}
section#about img {
    float: right;
    width: 200px;
    margin-left: 20px;
}
.top-bar {
  background-color: #000052;
  padding: 10px;
  text-align: center;
}
.top-bar a:link,
.top-bar a:visited {
  margin: 0 10px;
  text-decoration: none;
  color: #f2f2f2;
}