body {
  background-color: lightgray;
}

h2 {
  text-align: center;
}

p {
  max-width: 500px;
}

footer a:link {
  color: red;
}

footer a:visited {
  color: #9e143c;
}

.top-bar {
  background-color: #000052;
  padding: 10px;
  text-align: center;
}

.top-bar a {
  margin: 0 10px;
  text-decoration: none;
  color: #f2f2f2;
}

#about {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#bio img {
  display: flex;
  justify-content: center;
  width: 500px;
}

#projects {
  display: flex;
  justify-content: center;
}

.project {

  position: relative;
  width: 500px;
  height: 300px;
  background-image: url('item_box.PNG');
  background-size: cover;
  background-position: center;
}

.project-text {
  position: absolute;
  text-align: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
}

.project:hover {
  transition: transform 0.3s ease;
  transform: scale(1.05); /* Increase the scale to make it react to the mouseover */
}

#education {
  display: flex;
  justify-content: center;
  gap: 20px;
}