body {
  background: linear-gradient(to bottom, #f0f0f0, #dcdcdc);
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

a {
  text-decoration: none;
}

ul li {
  margin-bottom: 10px;
}

section {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#nav-bar {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  background-color: #000052;
  padding: 10px;
  text-align: center;
  border-bottom: 2px solid #333;
}

#nav-bar a {
  margin: 0 15px;
  color: #f2f2f2;
  transition: color 0.3s;
}

#nav-bar a:hover {
  color: #ffa500;
}

#about {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  padding: 20px;
  flex-wrap: wrap;
}

#bio {
  background-color: rgb(163, 163, 163);
  max-width: 500px;
  padding: 20px;
  border-radius: 5px;

  margin-right: -5px;
  z-index: -1;
  color: #333;
}

#about img {
  max-width: auto;
  max-height: 300px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 843px) {
  #bio {
    margin-right: 0px;
    margin-top: -5px;
  }
}

#skills {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.skill-category {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
  border: 2px solid black;
  padding: 10px;
}

.skill-container {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.skill-container img {
  max-width: 40px;
  height: 40px;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: 9px;
  font-weight: bold;
}

.work-experience-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px;
  padding: 10px 20px 20px 20px;
  background-color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-bottom: 20px solid #336699;
}

.work-experience-information h3 {
  display: flex;
  font-weight: normal;
  font-family: 'Open Sans', sans-serif;
}

.company-name {
  font-weight: bold;
}

.work-experience-container ul {
  max-width: 600px;
}

.project-link {
  color: black;
}
.project-link:visited {
  color: black;
}

.project-container {
  display: flex;
  margin-bottom: 30px;
  padding: 25px;
  background-color: #f5f5f5;
  border-radius: 15px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-bottom: 20px solid #cc6600;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.project-container:hover {
  transform: scale(1.05);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

.project-text ul {
  max-width: 500px;
}

.education-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px;
  padding: 10px 20px 20px 20px;
  background-color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.education-information h3 {
  margin-bottom: 15px;
}

.education-information p {
  margin: 5px 0;
}

.education-container a {
  margin-top: 10px;
  align-self: flex-end;
  color: blue;
}

.education-container a:hover {
  text-decoration: underline;
}

footer {
  background-color: #f5f5f5;
  padding: 20px;
  text-align: center;
  border-top: 2px solid #333;
  margin-top: 20px;
}

footer a {
  margin: 0 15px;
  color: #555;
  transition: color 0.3s;
}

footer a:hover {
  color: #ffa500;
}
